@{
    ViewData["Title"] = "Above Premiere";
}

<div class="text-center">
    <h1 class="display-4">Bienvenido</h1>
    <p>Convierte, recorta y saca capturas con esta poderosa aplicación.</p>
    <p>Activa el producto para acceder a estas funciones y mucho mas!</p>
 
    <form class="form-inline justify-content-center" asp-controller="Pass" asp-action="Validar" method="post">
        <div class="form-group mb-2">
            <input type="text" class="form-control-plaintext" placeholder="Código de producto" name="pass" id="pass"required />
        </div>
        <button type="submit" class="btn btn-primary mb-2">Validar</button>
    </form>

    @if (TempData["msg"] != null)
    {
        <p><b>@TempData["msg"]</b></p>
    }
</div>

