@{
    ViewData["Title"] = "Above Premiere";
}

<div class="text-center">
    <h1 class="display-4">Bienvenido</h1>
    <p>Convierte, recorta y saca capturas con esta poderosa aplicación.</p>
    <p>Activa el producto para acceder a estas funciones y mucho mas!</p>
    <form asp-controller="Home" asp-action="Validar">

        <input type="text" placeholder="Código de producto" name="codigoIngresado" />
        <input type="submit" value="Validar" required/>

    </form>
</div>

